apiVersion: apps/v1
kind: Deployment
metadata:
   name: crudapp
spec:
  selector:
    matchLabels:
      app: crudapp
  replicas: 1
  template:
    metadata:
      labels:
        app: crudapp
    spec:
      containers:
      - name: crudapp
        image: haaryrix/training:latest
        ports:
         - containerPort: 3001
           hostPort: 3001
